<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="box_inertia" params="mass x y z"> <!-- Defines a custom, reusable function named "box_inertia" that requires 4 inputs: mass, length (x), width (y), and height (z). -->
        <inertial>
            <mass value="${mass}"/> <!--Sets the weight of the part. The ${...} tells Xacro to inject the "mass" number we passed into the macro.-->
            <inertia ixx="${(1/12) * mass * (y*y+z*z)}" ixy="0.0" ixz="0.0"  
                      iyy="${(1/12) * mass * (x*x+z*z)}" iyz="0.0"
                      izz="${(1/12) * mass * (x*x+y*y)}"/>
                    <!-- ixx , Calculates the resistance to rolling on the X-axis using standard physics math. The cross-products (ixy, ixz) are zero because we assume the weight is perfectly balanced.-->
                    <!-- iyy, Calculates the resistance to pitching on the Y-axis.--> 
                    <!-- izz, Calculates the resistance to yawing (spinning) on the Z-axis.-->
        </inertial>
    </xacro:macro>

    <xacro:macro name="cylinder_inertia" params="mass length radius"> <!-- Defines a reusable function for cylindrical parts, requiring 3 inputs: mass, length (height), and radius (thickness). -->
        <inertial>
            <mass value="${mass}"/> <!-- Injects the provided mass value. -->
            <inertia ixx="${(1/12) * mass * (3*radius*radius + length*length)}" ixy="0.0" ixz="0.0"
                      iyy="${(1/12) * mass * (3*radius*radius + length*length)}" iyz="0.0"
                      izz="${(1/2) * mass * (radius*radius)}"/> 
                    <!-- ixx, Calculates the X-axis rotational inertia for a cylinder standing upright.-->
                    <!-- iyy, Calculates the Y-axis rotational inertia (identical to the X-axis because a cylinder is symmetrical from the side).--> 
                    <!-- izz, Calculates the Z-axis rotational inertia (spinning the cylinder like a top).-->           
        </inertial> <!-- Closes the physics block.-->
    </xacro:macro> <!-- Ends the cylinder macro.-->

    <xacro:macro name="sphere_inertia" params="mass radius"> <!-- Defines a reusable function for spherical parts, requiring only 2 inputs: mass and radius. -->
        <inertial>
            <mass value="${mass}"/>
            <inertia ixx="${(2/5) * mass * (radius*radius)}" ixy="0.0" ixz="0.0"
                      iyy="${(2/5) * mass * (radius*radius)}" iyz="0.0"
                      izz="${(2/5) * mass * (radius*radius)}"/>
                    <!-- ixx, Calculates X-axis rotational inertia for a solid ball.-->
                    <!-- iyy, Calculates Y-axis rotational inertia for a solid ball.-->
                    <!-- izz, Calculates Z-axis rotational inertia for a solid ball.-->
        </inertial>
    </xacro:macro>

</robot>